/* Small */
@media (10em >= width <= 50em) {
    #header_wrapper {
        gap: 50px;
        align-items: center;
        
    }
}

/* Medium */
@media (50em >= width <= 64em) {
    #header_wrapper {
        border-radius: 5px 5px 0 0;
        gap: 50px;
    }

    #logoDiv {
        width: 50px;
        padding: 0 0 10px 5px;
        grid-area: logo;
    }
}

/* Large */
@media (64em >= width <= 85em) {
    
}