/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Play&display=swap');
/*
font-family: 'Electrolize', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Press Start 2P', cursive;
*/
/*-------------------------*/


/*Colors*/
:root {
    --light-grey:#bababa;
    --medium-grey:#8d8d8d;
    --dark-grey:#3a3a3a;
    --light-blue:#a6cbeb;
    --sky-blue:#4c96d7;
    --white:#ffffff;
}
/*-------------------------*/


/*All*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header_wrapper,
#footer_wrapper {
    background-color: var(--white);
}

img {
    width: 100%;
}
/*-------------------------*/

/*Body*/ 
body {
    max-width: 750px;
    background-size: 300px 300px; 
    margin: 0px auto 10px auto;
}
/*-------------------------*/

/*Header*/ 
#header_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "logo . login";
    align-items: center;
}

#logoDiv {
    width: 180px;
    padding: 0 0 10px 5px;
    grid-area: logo;
}

#login {
    grid-area: login;
    text-align: center;
}

.group a,
#registration_link a {
    color: var(--dark-grey);
    text-decoration: none;
}

#login a {
    color: #1659A2;
}

#login a:hover {
    color: #0D345E;
}
/*-------------------------*/


/*Navigation*/ 
#navigation_wrapper {
    background-color: var(--dark-grey);
    width: 100%;
}

.menu {
    padding: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    padding-right: 10px;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    /*background-color: #555;*/
    background-color: var(--sky-blue);
    color: #fff;
}

/* Optional: Add more styling for active or current page */
.menu a.active {
    background-color: #007BFF;
    color: #fff;
}

/*
#navigation_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

li a {
    text-decoration: none;
    color: var(--white);
    padding: 10px 5px 10px 5px;
}

li a:active {
    background-color: var(--sky-blue);
}

li a:hover {
    background-color: var(--sky-blue);
    color: var(--dark-grey);
    padding: 20px 10px 20px 10px;
    border-radius: 8%;
}
*/

/*-------------------------*/



/*Main*/ 

h1, h2 {
    font-family: 'Play', sans-serif;
}

p, a, li, label, .link, span {
    font-family: 'Electrolize', sans-serif;
}

#welcome, #reviews, #upgrades {
    padding-bottom: 20px;
}


/*welcome*/
#welcome {
    display: flex;
    flex-direction: column;
}

.description p {
    color: #1D5281;
}

#button {
    width: 100px;
}

/*reviews*/
.description2 {
    padding: 20px;
}

/*upgrades*/
#upgrades h1 {
    padding: 10px;
}

.description3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "box1 box2"
        "box3 box4";
    justify-items: center;
    text-align: center;
}

.group {
    padding: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--sky-blue);
    width: 150px;
    height: 120px;
    padding: 10px;
}

.image {
    width: 50%;
}
/*-------------------------*/



/*Footer*/ 
#footer_wrapper {
    border-radius: 0 0 5px 5px;
}

hr,
ul {
    margin: 0;
    padding: 0;  
}

hr {
    background-color: var(--dark-grey);
    height: 5px;
    width: 100%;
}

#footer_wrapper p {
    text-align: center;
    padding: 5px;
}
/*-------------------------*/

.link {
    margin: 8px;
}

.link a {
    color: #1659A2;
}

.link a:hover {
    color: #0D345E;
}

/*
.formHeader {
    padding-bottom: 10px;
}
*/

#error_message {
    padding: 10px;
}

/*-------------------------*/

.main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--white);
}

.user-management {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#form-design {
    margin: 15px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}